<web-app>
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Logout</servlet-name>
<servlet-class>LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Logout</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Blog</servlet-name>
<servlet-class>BlogServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Blog</servlet-name>
<url-pattern>/blog</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteBlog</servlet-name>
<servlet-class>DeleteBlogServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteBlog</servlet-name>
<url-pattern>/deleteBlog</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Search</servlet-name>
<servlet-class>SearchServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Search</servlet-name>
<url-pattern>/search</url-pattern>
</servlet-mapping>
</web-app>
